*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:  'Manrope-regular',sans-serif;
}

a{
    color: black;
}

.grey{
    color: #989898;
}

