*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family:  'Manrope-Regular',sans-serif;
}
html{
      scroll-behavior: smooth;   
}
.container {
    max-width: 1680px;
    margin: 0 auto;
    padding: 0 15px;
}

.grey{
    color: #989898;
}

