.faq {
    padding: 100px 0;
}

.faq_heading {
    font-size: 30px;
    line-height: 45px;
    padding-bottom: 100px;
}

.faq_accardion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.faq_card {
    border-top: 2px solid #C4C4C4;
}
.faq_card:last-child{
    border-bottom: 2px solid #C4C4C4;
}

.faq_accardion_heading {
    font-size: 48px;
    font-weight: 500;
    line-height: 72px;
}

.faq_accardion {
    cursor: pointer;
    width: 100%;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    gap: 20px;
}

.faq_panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
}

.faq_symbol {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background: none;
    outline: none;
    border: none;
    font-size: 34px;
    color: #757575;
    transition: background-color 0.5s, transform 0.5s ease-in-out;
    user-select: none;
}
.faq_accardion.active>.faq_symbol {
    transform: rotate(45deg);
}

.faq_accardion.active .faq_card {
    padding: 30px 0;
}

@media screen and (max-width:1060px) {
    .faq_accardion_heading {
        font-size: 30px;
        font-weight: 500;
        line-height: 34px;

    }
}

@media screen and (max-width:762px) {
    .faq {
        padding: 50px 0;
    }

    .faq_accardion_heading {
        font-size: 30px;
        font-weight: 500;
        line-height: 34px;
    }

    .faq_accardion_heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 23px;
        width: 80%;
    }

    .faq_panel {
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width:360px) {
    .faq_accardion_heading {
        font-size: 18px;
    }
}