.port {
    background-color: black;
    background-image: url(../img/dotsbg.png);
    background-size: contain;
    animation: ball linear infinite 90s;
    color: white;
    padding: 100px 0 245px;
    position: relative;
  
}

.port_container {
    max-width: 1680px;
    margin: 0 auto;

}

.port_wrap {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 180px 150px;

}

.port_heading {
    color: white;
    font-size: 30px;
    font-family: "Manrope-Light", sans-serif;
    padding-bottom: 100px;
    font-weight: 400;
}

.port_card_img {
    position: relative;
}

.port_pos_text {
    position: absolute;
    bottom: 65px;
    left: -68px;
    background: #fff;
    color: #000;
    padding: 32px 160px 35px 30px;
}

.port_pos_text p {
    font-weight: 300;
    font-size: 19px;
    line-height: 150%;
}

.port_pos_text h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
}

.top {
    top: 70px;
}

.port_card_img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.port_behance{
    position: absolute;
    bottom: -90px;
    left: 0;
    z-index: 1001;
    width: 100%;
    text-align: center;
}
.port_behance_btn{
    animation: rotate infinite 4s linear;
    position: relative;
    background: #757575;
    padding: 78px 36px;
    font-size: 30px;
    font-weight: 400px;
    outline: none;
    border: none;
    border-radius: 50%;
    transition: all ease-in-out 0.4s ;
    z-index: 1001;
}
.port_behance_btn:hover{
    background: #0057ff;
  
}
.port_behance_btn a{
    color: #000;
    transition: color ease-in-out 0.4s ;
}
.port_behance_btn:hover a{
    color: #fff;
}

@keyframes ball {
    from {
        background-position: 3000px 90%, 180% 40%, 0 0;
    }

    to {
        background-position: -2000px 90%, -300px 20%, 0 0;
    }
}

@media screen and (max-width:1680px) {
    .port_container {
        padding: 0 25px;
    }

    .port_wrap {
        gap: 60px 90px;
    }
}

@media screen and (max-width:1296px) {

    .port_container {
        padding: 0 15px;
        margin: 0 auto;
    }

    .port_card_img {
        width: 40%;
    }

    .port_wrap {
        gap: 30px 60px;
        justify-content: space-evenly;
    }

    .port_pos_text {
        padding: 8px 150px 8px 30px;
    }

    .port_pos_text p {
        font-weight: 300;
        font-size: 19px;
        line-height: 150%;
    }

    .port_pos_text h3 {
        font-weight: 500;
        font-size: 30px;
        line-height: 150%;
    }
}
@media screen and (max-width:991px){
    .port_behance{
        bottom: -70px;
    }
    .port_behance_btn{
        font-size: 22px;
        padding: 57px 27px;
    }
}
@media screen and (max-width:776px) {
    .port{
        padding: 100px 0;
    }
    .port_container {
        padding: 0 15px;
        margin: 0 auto;
    }

    .port_card_img {
        width: 70%;
        margin-top: 0;
    }

    .top {
        top: unset;
    }

    .port_wrap {
        gap: 20px;
        flex-direction: column;
        align-content: flex-end;
        
    }
    .port_heading {
        font-size: 17px;
        padding-bottom:20px;
    }
    .port_pos_text {
        padding: 8px 160px 8px 30px;
        bottom: 35px;
    }

    .port_pos_text p {

        font-size: 14px;

    }

    .port_pos_text h3 {
        font-size: 20px;
    }
    .port_behance{
        bottom: -42px;
        
    }
    .port_behance_btn{
        
        font-size: 14px;
        padding: 36px 15px;
    }
}
@media screen and (max-width:372px) {
    .port_pos_text {
        padding: 2px 70px 2px 30px;
    }
}
