.team {
    padding: 200px 0 50px;
    position: relative;
}

.team_heading {
padding-bottom: 92px;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 45px;
}

.team_wrap {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.team__card {
    max-width: 405px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.team__card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.team__card_body{
    width: 100%;
    background: #141414;
    color: #fff;
}
.team_name{
    padding: 20px 0 10px 20px;
}
.team_vacancy{
    padding: 10px 0 20px 20px;
}
@media screen and (max-width:1130px) {
    .team {
        padding: 70px 0;
        position: relative;
    }
    .team_wrap {
        flex-wrap: wrap;
        justify-content: center;
    
    }
   
}
@media screen and (max-width:768px) {
    .team_heading {
        padding-bottom: 20px;
    }
}